img.resize {
    display: block;
    max-width:460px;
    max-height:190px;
    width: auto;
    height: auto;
}

img.resize-login {
    display: block;
    max-width: 920px;
    max-height: 380px;
    width: auto;
    height: auto;
}
img.resize-home {
    display: block;
    max-width: 1500px;
    max-height: 600px;
    width: auto;
    height: auto;
}