@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-3">
        <br />
        <h5><strong>Welcome to MovieToon!</strong></h5>
        <h6>The best DVD rental on the 'hood</h6>
        <br />
        <p><h6>Feel free to explore our promotions and sale of the season!</h6></p>
        <p><h6>Also, check out our recommendation for the week</h6></p>
        <br />
        <p><h6><strong>Don't like the Rom-Com? ;)</strong> </h6></p>
        <p><h6>We have all the genres you can imagine: Thriller, Comedy, Action, Drama... :)</h6></p>
        <br />
        <br />
        <p><h6><strong>Do you miss your favorite TV-show? :(</strong></h6></p>
        <p><h6>We have in our section, TV_Show's :)</h6></p>
        <br />
        <br />
        <p><h5><strong>Grab your popcorn, and MovieToon&Chill'</strong> </h5></p>


    </div>
    <div class="col-md-9">
        <img class="resize-home" src="~/images/Parrot Pet Bird.svg" />
    </div>
</div>
    
