
@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>

<table id="customerList" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Membership Type</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#customerList").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName",
                        render: function (data, type, customer) {
                            return "<a href='/rentals/details/" + customer.id + "'>" + customer.lastName + ", " + customer.firstName + "</a>";
                        }
                    },
                    {
                        data: "email"
                    },
                    
                    {
                        data: "mobilePhone"
                    },
                    {
                        data: "membershipType.description"
                    }
                ]
            });

        });
    </script>
}

