
@{
    ViewBag.Title = "Admin Portal";
}

<h2>List of Movies</h2>

<table id="movieList" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie Title</th>
        <th>Movie's Genre</th>
        <th>Price</th>
        <th>Units Available</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#movieList").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "title",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.title + "</a>";
                        }
                    },
                    {
                        data: "genre.genreName"
                    },
                    
                    {
                        data: "price"
                    },
                    {
                        data: "amountAvailable"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

        });
    </script>
}
